<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Veiculos</title>
</head>
<body>
    
    <h1>Cadastro de Veiculos</h1>
    <form action="/veiculos/cadastro" method="post">
        <div>
            <label for="placa">Placa:</label>
            <input type="text" id="placa" name="placa" minlength="7" maxlength="8"/>
        </div>
        <div>
            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" />
        </div>
        <div>
            <label for="cor">Cor:</label>
            <input type="text" id="cor" name="cor" />
        </div>
        <div>
            <label for="ano">Ano:</label>
            <input type="text" id="ano" name="ano" min="1928" max="2025"/>
        </div>
        <input type="submit" value="Enviar" />
    </form>

</body>
</html>
